@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
nav{
    display: flex;
    padding-top: 1rem;
    padding-left: 10px;
    background-color: #f2f2f2;
    height: 4.4rem;
}
.flex{
    display: flex;
    padding-left: 35%;
    padding-right: 10px;
    font-size: 1rem;
}
.flex_2{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}
.flex_3{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
}
.flex_4{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
}
.flex_5{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
}
.flex_6{
    display: flex;
    padding-bottom: 0.8rem;
    padding-left: 10px;
    font-size: 0.8rem;
}
.close{
    padding-top: 0.4rem;
    padding-left: 35%;
    font-size: 0.5rem;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_img{
    height: 100.7vh;
}
.card{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    padding: 0 120px;
    margin-top: -148px;
}
.card_1{
    color: white;
    width: 365px;
    height: 200px;
    background-color: #FF7E05;
    border-radius: 20px;
    margin-right: 1.5rem;
}
.img_3{
    width: auto;
    height: 1.1rem;
}
h5{
    font-size: 1.25rem;
    margin-left: 35px;
    padding-top: 40px;
}
p{
    padding-top: 30px;
    font-size: 1rem;
    padding-left: 35px;
    line-height: 1.8;
    font-weight: 300;
}
.esc{
    width: auto;
    height: 10rem;
    padding-top: 3rem;
    background-color: #FFFFFF;
    padding-left: 34rem;
}
footer{
    color: #FFFFFF;
    background-color: #333333;
    height: 100px;
    padding-top: 40px;
    padding-left: 34rem;
    font-size: 0.8rem;
}
.foot a{
    color: #adcce9;
}
.free{
    color: black;
}
.port{
    color: #adcce9;
}
a:hover{
    color: rgb(106, 222, 248);
}
@media(min-width: 360px) and (max-width: 800px){
    .flex_6{
        display: flex;
        padding-bottom: 1rem;
        padding-left: 10px;
        font-size: 0.8rem;
    }
    .flex{
        display: none;
    }
    .flex_2{
        display: none;
    }
    .flex_3{
        display: none;
    }
    .flex_4{
        display: none;
    }
    .flex_5{
        display: none;
    }
    .close{
        padding-top: 0.7rem;
        padding-left: 54%;
        font-size: 0.5rem;
    }
    .nav_img{
        height: 24.5vh;
    }
    .card{
        display: flex;
        position: absolute;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;
        padding: 0 5px;
        margin-top: -25px;
        margin-left: 20px;
        margin-bottom: 20px
    }
}

@media(min-width: 393px) and (max-width: 851px){
    .flex{
        display: none;
    }
    .flex_2{
        display: none;
    }
    .flex_3{
        display: none;
    }
    .flex_4{
        display: none;
    }
    .flex_5{
        display: none;
    }
    .close{
        padding-top: 0.4rem;
        padding-left: 58%;
        font-size: 0.5rem;
    }
}